{% extends 'base.html.twig' %}
{%  block body %}
    <ul id="navigation">
        {% for number in result %}
            <li>The output value is: {{ number }}</li>
        {% endfor %}
    </ul>
{% endblock %}